@font-face {
    font-family: "loadingartist";
    src: url("/LABingo/assets/LOADINGARTIST.eot");
    src: url("/LABingo/assets/LOADINGARTIST.woff") format("woff")
    }

*{padding: 0;
    font-family:'loadingartist';
    margin: 0;}
.container{
    flex-wrap: wrap;
    width:100%;
    height:100%
}
.bingoSquare, .freeSquare{
    text-align: center;
}
#bingotable{
    width: 100%;
    height: 100%;
}

.got {
    background-color: maroon;

}